.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-size: 1.1rem;
}

.text-type__cursor {
  margin-left: 0.1rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
